In [1]:
import pandas as pd

In [2]:
csv = pd.read_csv('docs/Phenotypic_V1_0b_preprocessed1.csv')

In [3]:
csv.head()

,Unnamed: 0,Unnamed: 0.1,SUB_ID,X,subject,SITE_ID,FILE_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,...,qc_notes_rater_1,qc_anat_rater_2,qc_anat_notes_rater_2,qc_func_rater_2,qc_func_notes_rater_2,qc_anat_rater_3,qc_anat_notes_rater_3,qc_func_rater_3,qc_func_notes_rater_3,SUB_IN_SMP
0,0,1,50002,1,50002,PITT,no_filename,1,1,16.77,...,NaN,OK,NaN,fail,ic-parietal-cerebellum,OK,NaN,fail,ERROR #24,1
1,1,2,50003,2,50003,PITT,Pitt_0050003,1,1,24.45,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
2,2,3,50004,3,50004,PITT,Pitt_0050004,1,1,19.09,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
3,3,4,50005,4,50005,PITT,Pitt_0050005,1,1,13.73,...,NaN,OK,NaN,maybe,ic-parietal-cerebellum,OK,NaN,OK,NaN,0
4,4,5,50006,5,50006,PITT,Pitt_0050006,1,1,13.37,...,NaN,OK,NaN,maybe,ic-parietal slight,OK,NaN,OK,NaN,1

## Set keys (column names) that we want to split equally
## and number of iterations

In [85]:
keys = ['SITE_ID', 'SEX']
num_iter = 3

In [8]:
csv[keys].head()

  SITE_ID  SEX
0    PITT    1
1    PITT    1
2    PITT    1
3    PITT    2
4    PITT    1

## make labels

In [82]:
labels = [ '.'.join([str(csv[key][i]) for key in keys]) for i in range(len(csv))]
print labels[:5]

['PITT.1', 'PITT.1', 'PITT.1', 'PITT.2', 'PITT.1']

## split

In [9]:
from sklearn.cross_validation import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(labels, num_iter, test_size=0.5, random_state=0)

In [80]:
print(sss)

StratifiedShuffleSplit(labels=['PITT.1' 'PITT.1' 'PITT.1' ..., 'SBL.1' 'MAX_MUN.2' 'MAX_MUN.1'], n_iter=3, test_size=0.5, random_state=0)

In [88]:
for index_a, index_b in sss:
    #print("TRAIN:", train_index, "TEST:", test_index)
    set_a, set_b = csv.iloc[index_a], csv.iloc[index_b]
    print 'iteration'
    print 'sex  == 1:', len(set_a[set_a.SEX == 1]), len(set_b[set_b.SEX == 1])
    print 'site == yale:', len(set_a[set_a.SITE_ID == 'YALE']), len(set_b[set_b.SITE_ID == 'YALE'])

iteration
sex  == 1: 474 474
site == yale: 28 28
iteration
sex  == 1: 473 475
site == yale: 28 28
iteration
sex  == 1: 473 475
site == yale: 28 28